@media screen and ( max-width : 360px ) {

  .form-login {
    align-items: center;
    background-image: url('https://cdn.discordapp.com/attachments/877911509341184060/1071155261542236242/toma_aqui.png');
    background-size: 360px 640px;
    border: 2px solid black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 640px;
    justify-content: center;
  }

  .meals-div-pai {
    /* background-color: indigo; */
  }
}
